* {
	margin: 0;
	padding: 0;
}
body{
    background-color: #3c4045;
    height: 100vh;
}
.wrapper{
    overflow: hidden;
    height: 90vh;
    width: 60vh;
    margin: 0 auto;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
}

input{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}
.slider{
    display: flex;
}
.slide{
    height: 60vh;
    width: 60vh;
    background-color: #3c4045;
    display: flex;
    transition: width ease-in-out 0.4s;
}

.slide1 {
    margin: 0;
    padding: 0;
    width: 0;
    }
.slide2 {
    margin: 0;
    padding: 0;
    width: 0;
    }
.slide3 {
  margin: 0;
  padding: 0;
  width: 0;
  }
.slide4 {
  margin: 0;
  padding: 0;
  width: 0;
  }
.slide img{
    align-items: center;
    height: auto;
    width: 60vh;
}

.quote-controls{
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
}

.quote{
    margin: 0;
    padding: 0;
    display: flex;
    width: calc( 50vh - 7rem );
}

.slider-q {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font: 1rem ;
    color: rgb(255, 255, 255);
}
.quote1{
    margin: 0;
    padding: 0;
    width: 0;
    opacity: 0;
}
.quote2{
    margin: 0;
    padding: 0;
    width: 0;
    opacity: 0;
}
.quote3{
    margin: 0;
    padding: 0;
    width: 0;
    opacity: 0;
}
.quote4{
    margin: 0;
    padding: 0;
    width: 0;
    opacity: 0;
}
.controls{
    margin: 0 ;
    display: flex;
    width: 6.3rem;
    justify-content: space-around;
}

.controls label {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top left, #565c63, #3c4045);
    box-shadow: 0rem 0rem 0.2rem 0.01rem rgba(35, 38, 41, 0.6) ;
    transition: background-color  box-shadow ease-in-out 0.5s;
}
.area{
    min-width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}
.controls label:hover {
    background: radial-gradient(#43acb4,#3c4045,#3c4045);
    box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(35, 38, 41, 0.6) inset;
}
.controls label:active {
    background: radial-gradient(#43acb4,#3c4045);
    box-shadow: 0rem 0rem 0.2rem 0.1rem rgba(35, 38, 41, 0.6) ;
}
#r-btn1:checked ~ .quote-controls > .controls > label:nth-of-type(1),
#r-btn2:checked ~ .quote-controls > .controls > label:nth-of-type(2),
#r-btn3:checked ~ .quote-controls > .controls > label:nth-of-type(3),
#r-btn4:checked ~ .quote-controls > .controls > label:nth-of-type(4){
    background: radial-gradient(#5be3ec,#3c4045,#3c4045,#3c4045);
    box-shadow: -0.4rem -0.4rem 0.4rem -0.4rem rgba(255, 255, 255, 0.6) inset, 0.4rem 0.4rem 0.4rem -0.4rem rgba(35, 38, 41, 0.6) inset;
}